body {
  background-image: url('https://www.jpl.nasa.gov/images/msl/20130716/pia17279-640.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.App {
  text-align: center;
}

img {
  height: 300px;
  width: 300px;
  margin: 5px;
  flex: 0 0 20%;
  border-style: solid;
  border-color: rgb(200, 200, 200);
  border-radius: 5%;
}

.flex {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 -5px;
}

.bio {
  height: 60vh;
  width: 90vw;
  background-color: rgba(0, 0, 0, 0.5);
  color: rgb(200, 200, 200);
  margin: 5% auto;
  padding: 2%;
  font-size: 25px;
  border-radius: 1%;
  border-style: solid;
  border-color: rgb(200, 200, 200);
}

.form-container {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 1%;
  width: 60vw;
  border-style: solid;
  border-color: rgb(200, 200, 200);
  border-radius: 1%;
  margin: 0 auto;
}

label {
  color: rgb(200, 200, 200);
}
